[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
flake8 = "*"
pyflakes = "*"

[packages]
drf-yasg = "*"
djangorestframework = "*"
django-filter = "*"
openpyxl = "*"
psycopg2-binary = "*"
requests = "*"
django-q = "*"
python-memcached = "*"
fpdf = "*"
arrow = "*"
asgiref = "*"
blessed = "*"
certifi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
django-picklefield = "*"
entrypoints = "*"
idna = "*"
inflection = "*"
itypes = "*"
jdcal = "*"
mccabe = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
sqlparse = "*"
uritemplate = "*"
urllib3 = "*"
wcwidth = "*"
gunicorn = "*"
meinheld = "*"
environs = "*"
pdfkit = "*"
Django = "*"
Markdown = "*"
et_xmlfile = "*"
Jinja2 = "*"
MarkupSafe = "*"
"ruamel.yaml" = "*"
docxtpl = "*"
pymorphy2 = "*"
pymorphy2-dicts-ru = "*"
lxml = "*"
pypandoc = "*"
aiohttp = "*"

[requires]
python_version = "3.8.1"
