<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<style type="text/css">
		p { font-family: "Arial"; font-size: 7pt }
		td p { font-family: "Arial"; font-size: 7pt }
	</style>
</head>
<body lang="ru-RU" dir="ltr">
<table cellpadding="2" cellspacing="0">
	<col width="63">
	<col width="196">
	<col width="12">
	<col width="72">
	<col width="39">
	<col width="94">
	<col width="16">
	<col width="2">
	<col width="63">
	<col width="191">
	<col width="18">
	<col width="66">
	<col width="45">
	<col width="110">
	<col width="1">
	<tr>
		<td colspan="15" height="25" style="border: none; padding: 0cm">
			<p align="center"><font size="4" style="font-size: 14pt"><b>Акт сверки</b></font></p>
		</td>
	</tr>
	<tr>
		<td colspan="15" height="65" valign="bottom" style="border: none; padding: 0cm">
			<p align="center"><font size="2" style="font-size: 10pt">взаимных
			расчетов за период: {{ consumer.contract_accept_date|proper_date_filter }} - {{ consumer.current_date|proper_date_filter }}<br/>
			между ООО &quot;ЭКОТЕК&quot; <br/>
			и {{ consumer.excell_name }}<br/>
			по договору {{ consumer.number_contract }} от {{ consumer.current_contract_date|proper_date_filter }}</font></p>
		</td>
	</tr>
	<tr valign="bottom">
		<td height="24" style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/></p>
		</td>
	</tr>
	<tr>
		<td colspan="15" height="33" valign="bottom" style="border: none; padding: 0cm">
			<p align="justify"><font size="2" style="font-size: 10pt">Мы, нижеподписавшиеся, Управляющий директор ООО &quot;ЭКОТЕК&quot; Функ Андрей
			Иванович, с одной стороны, и {{ consumer.director_status }} {{ consumer.excell_name }} {{ consumer.director_name }}, с другой стороны,
			составили настоящий акт сверки в том,
			что состояние взаимных расчетов по
			данным учета следующее:</font></p>
		</td>
	</tr>
	<tr valign="bottom">
		<td height="8" style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
		<td style="border: none; padding: 0cm">
			<p><br/>

			</p>
		</td>
	</tr>
</table>
<table cellpadding="2" cellspacing="0">
	<col width="63">
	<col width="196">
	<col width="12">
	<col width="72">
	<col width="39">
	<col width="94">
	<col width="16">
	<col width="2">
	<col width="63">
	<col width="191">
	<col width="18">
	<col width="66">
	<col width="45">
	<col width="110">
	<col width="1">
	<tbody>
		<tr valign="top">
			<td colspan="8" height="15" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0cm; padding-left: 0.05cm; padding-right: 0.05cm">
				<p align="left">По данным ООО &quot;ЭКОТЕК&quot;,
				руб.</p>
			</td>
			<td colspan="7" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0cm; padding-left: 0.05cm; padding-right: 0.05cm">
				<p align="left">По данным {{ consumer.director_name }},
				руб.</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="15" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Дата</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Документ</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Дебет</p>
			</td>
			<td colspan="3" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Кредит</p>
			</td>
			<td style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Дата</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Документ</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Дебет</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="center">Кредит</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td colspan="3" height="15" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Сальдо начальное</b></p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0.05cm 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td colspan="3" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Сальдо начальное</b></p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><b>{% for data_frame in data %} </b>
				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td height="15" style="border: 1px solid #000000; padding: 0.05cm" sdval="43450" sdnum="1049;1049;DD.MM.YYYY">
				<p align="center">{{ consumer.current_date|proper_date_filter }}</p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left">Продажа ({{ data_frame.curr_date|proper_date_filter }})</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm" sdnum="1049;0;#&nbsp;##0,00">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm" sdval="353,59" sdnum="1049;0;#&nbsp;##0,00">
				<p align="right"><font color="#ffffff">{{ data_frame.summ_tax_precise }}</font></p>
			</td>
			<td colspan="3" style="border: 1px solid #000000; padding: 0.05cm" sdnum="1049;0;#&nbsp;##0,00;[RED]-#&nbsp;##0,00">
				<p><br/>

				</p>
			</td>
			<td style="border: 1px solid #000000; padding: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p>{% endfor %} 
				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td colspan="3" height="15" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Обороты за период</b></p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm" sdval="6315,3" sdnum="1049;0;#&nbsp;##0,00;[RED]-#&nbsp;##0,00">
				<p align="right"><b>{{ total }}</b></p>
			</td>
			<td colspan="3" style="border: 1px solid #000000; padding: 0.05cm" sdnum="1049;0;#&nbsp;##0,00;[RED]-#&nbsp;##0,00">
				<p><br/>

				</p>
			</td>
			<td colspan="3" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Обороты за период</b></p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<td colspan="3" height="15" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Сальдо конечное</b></p>
			</td>
			<td colspan="2" style="border: 1px solid #000000; padding: 0.05cm" sdval="6315,3" sdnum="1049;0;#&nbsp;##0,00;[RED]-#&nbsp;##0,00">
				<p align="right"><b>{{ total }}</b></p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0.05cm 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td colspan="3" valign="bottom" style="border: 1px solid #000000; padding: 0.05cm">
				<p align="left"><b>Сальдо конечное</b></p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0.05cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: none; border-right: 1px solid #000000; padding-top: 0.05cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0.05cm">
				<p><br/>

				</p>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr valign="bottom">
			<td height="15" style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td colspan="6" height="15" style="border: none; padding: 0cm">
				<p align="left">По данным ООО &quot;ЭКОТЕК&quot;</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td colspan="7" style="border: none; padding: 0cm">
				<p align="left">По данным {{ consumer.excell_name }}</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td colspan="6" height="29" style="border: none; padding: 0cm">
				<p align="left"><b>на {{ consumer.current_date|proper_date_filter }} задолженность
				в пользу ООО &quot;ЭКОТЕК&quot; {{ total }} руб.
				({{ total|literal|capfirst }}).</b></p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="17" style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td colspan="6" height="15" style="border: none; padding: 0cm">
				<p align="left">От ООО &quot;ЭКОТЕК&quot;</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td colspan="7" style="border: none; padding: 0cm">
				<p align="left">От {{ consumer.excell_name }}</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="15" style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td colspan="6" height="15" style="border: none; padding: 0cm">
				<p align="left">Управляющий директор</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td colspan="7" style="border: none; padding: 0cm">
				<p align="left">Директор</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="15" style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="15" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td colspan="4" style="border: none; padding: 0cm">
				<p align="left">(Функ А. И.)</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding-top: 0cm; padding-bottom: 0.05cm; padding-left: 0cm; padding-right: 0cm">
				<p><br/>

				</p>
			</td>
			<td colspan="4" style="border: none; padding: 0cm"></td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="15" style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
		<tr valign="bottom">
			<td height="15" style="border: none; padding: 0cm">
				<p align="left">М.П.</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p align="left">М.П.</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
			<td style="border: none; padding: 0cm">
				<p><br/>

				</p>
			</td>
		</tr>
	</tbody>
</table>
<p><br/>
<br/>

</p>
</body>
</html>
